<h1>previews#show</h1>
<p>ここに試合詳細を載せる</p>
<div id="preview_fav_buttons_<%= @preview.id %>">
  <%= render partial: 'preview_favorites/preview_fav', locals: { preview: @preview} %>
</div>

<% if @preview.user == current_user %>
  <td><%= link_to 'Edit', edit_match_preview_path(@match, @preview), class: "btn-sm btn-success edit_preview_#{@preview.id}" %></td>
  <td><%= link_to 'Destroy', match_preview_path(@preview), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn-sm btn-danger destroy_preview_#{@preview.id}"%></td>
<% end %>

<div class="comments">
<p>コメント件数：<%= @preview.preview_comments.count %></p>
<% @preview.preview_comments.each do |preview_comment| %>
  <%= attachment_image_tag preview_comment.user, :profile_image, :fill, 30, 30, fallback: "noimage.jpg" %>
  <%= preview_comment.user.nickname %>
  <%= preview_comment.created_at.strftime('%Y/%m/%d') %><%= preview_comment.comment %>
  <% if preview_comment.user == current_user %>
  <div class="comment-delete">
    <%= link_to "削除", match_preview_preview_comment_path(@match, @preview, preview_comment.id), method: :delete %>
  </div>
  <% end %>
<% end %>
</div>
<div class="new-comment">
<%= form_with(model:[@match, @preview, @preview_comment], local: true) do |f| %>
  <%= f.text_area :comment, rows:'2',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
</div>