<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>シーズン</th>
      <th>試合</th>
      <th>開催日</th>
      <th>試合会場</th>
      <th>ホームチーム</th>
      <th>アウェイチーム</th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.season %>年</td>
        <td>第<%= match.section %>節</td>
        <td><%= match.match_day.strftime('%Y/%m/%d') %></td>
        <td><%= match.stadium_name %></td>
        <td><%= link_to match_path(match) do %>
          <%= match.team_relationships.find_by(home_flg:true).team.name %><%= match.home_goal %> vs
          <%= match.team_relationships.find_by(home_flg:false).team.name %><%= match.away_goal %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

