<h1>試合詳細</h1>
<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th>チーム名</th>
      <th>アイコン</th>
      <th>開催日</th>
      <th>試合会場</th>
      <th>対戦カード</th>
      <th colspan="2"></th>
    </tr>
  </thead>
    <tbody>
     <tr>
        <td><%= @match.season %>年</td>
        <td>第<%= @match.section %>節</td>
        <td><%= @match.match_day.strftime('%Y/%m/%d') %></td>
        <td><%= @match.stadium_name %></td>
        <td>
          <%= link_to match_path(@match) do %>
          <%= @match.team_relationships.find_by(home_flg:true).team.name %><%= @match.home_goal %> vs
          <%= @match.team_relationships.find_by(home_flg:false).team.name %><%= @match.away_goal %>
        <% end %>
      </tr>
        </td>

        <td><p><%= "#{@match.preview.count} プレビュー" %></p></td>
        <td><p><%= "#{@match.review.count} レビュー" %></p></td>

        <% if %>

        <% end %>
      </tr>
  </tbody>
</table>

<%= link_to "プレビューを投稿する", new_match_preview_path(@match) %>
<%= link_to "レビューを投稿する", new_match_review_path(@match) %>

<% @reviews.each do |review| %>
  <%= link_to match_review_path(review.match) do %>
    <%= review.comment %>
    <%= review.user.nickname %>
  <% end %>
<% end %>

<%# @previews.each do |preview| %>
  <%#= link_to match_preview_path(preview) do %>
    <%#= preview.comment %>
    <%#= preview.user.nickname %>
  <%# end %>
<%# end %>

<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>