<h1>レビュー投稿</h1>
<div class="new-comment">
  <%= form_with(model:[@match, @review], url: match_reviews_path, local: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <%= f.text_area :comment, size: "70x10",placeholder: "300文字以内でご入力ください" %>
  <div id="rating-form">
    <label>Rating</label>
  </div>

<script>
  $('#rating-form').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'review[rating]'
  });
</script>


    <%= f.submit "送信する" %>
  <% end %>
</div>
