

<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <div class="navbar-brand p">
      <%= link_to  root_path do %>
        <%= image_tag 'yf-logo3.jpg', :size => '170x50' %>
      <% end %>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
    <% if user_signed_in? %>
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "マイページ", user_path(current_user), class: "nav-link text-dark" %>
        </li>
        <li class="nav-item">
          <%= link_to "試合一覧", matches_path, class: "nav-link text-dark" %>
        </li>
        <li class="nav-item">
          <%= link_to "チーム一覧", teams_path, class: "nav-link text-dark" %>
        </li>
        <li class="nav-item">
          <%= link_to "ユーザー一覧", users_path, class: "nav-link text-dark" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link text-dark" %>
        </li>
      </ul>

    <% else %>

      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "会員登録", new_user_registration_path, class: "nav-link text-dark" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログイン", new_user_session_path, class: "nav-link text-dark" %>
        </li>
        <li class="nav-item">
          <%= link_to "試合一覧", matches_path, class: "nav-link text-dark" %>
        </li>
        <li class="nav-item">
          <%= link_to "チーム一覧", teams_path, class: "nav-link text-dark" %>
        </li>
      </ul>

    <% end %>
      </ul>
    </div>
  </div>
</nav>